{% spaceless %}
<!DOCTYPE html>
{#<!--[if lt IE 7 ]> <html lang="en" class="nojs ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="nojs ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="nojs ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="nojs ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
#}<html lang="{{app.request.locale}}"{% block html_modif %} class="{% block html_class %}nojs{% endblock %}"{% endblock %}>
{# <!--<![endif]--> #}
<head>
{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
    {%- block head_title -%}
    {%- endblock -%}
    </title>
{#    <meta name="keywords" content="
    {%- block head_keywords -%}
    {%- endblock -%}
    "/> 
    <meta name="description" content="
    {%- block head_description -%}
    {%- endblock -%}
    "/> #}
	<link class="b-favicon" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
{#  <link rel="<apple-touch-icon></apple-touch-icon>" href="/favicon-mobile.png" /> #}
{% block assets_css %}
	{% stylesheets output='static/css/commons.css' filter="?yui_css" combine=true
		'@KachkaevPhotoAssessmentBundle/Resources/assets/scss/reset.scss'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.ui.modif.css'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/bem/pages/*/*.scss'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/bem/blocks/*/*.scss'
	    %}
	    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
	{% endstylesheets %}
{% endblock %}

{% block page_css %}{% endblock %}
{% block assets_tmpl %}{% endblock %}
{% block page_tmpl %}{% endblock %}
{% endblock head %}</head>

<body{% block body_modif %}{% endblock %}>{% block body %}{% endblock -%}

{% block footer %}
<div class="b-footer">{#<table><tr><td><a href="mailto:alexander.kachkaev.1@city.ac.uk?subject={{ 'title' | trans }}">{{ 'footer.contact_author' | trans }}</a></td><td>#}<div class="yashare-auto-init" data-yashareL10n="{{ app.request.locale }}" data-yashareType="none" data-yashareQuickServices="facebook,twitter,gplus,vkontakte" data-yashareLink="{{ url("pat_default_index") }}" data-yashareTitle="{{ 'share.title' | trans }}"></div>{#}</td></tr></table>#}</div> 
{% endblock %}

{% block assets_js %}
	{% javascripts output='static/js/vendor.js' filter="?closure" combine=true
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.canvas.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.dump.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.timers.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.tmpl.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.scrollintoview.modif.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.ui.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.preload.js'
    
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/underscore/underscore.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/underscore/underscore.string.js'

    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/namespace.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/keycodes.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/rainbow-vis.js'
    '@KachkaevPhotoAssessmentBundle/Resources/assets/vendor/signals.js'
    %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}

	{% javascripts output='static/js/commons.js' filter="?closure"
		'@KachkaevPhotoAssessmentBundle/Resources/assets/js/pat/*.js'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/js/pat/photoInfoProvider/*.js'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/bem/blocks/*/*.js'
		'@KachkaevPhotoAssessmentBundle/Resources/assets/bem/pages/*/*.js'
		%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block page_js %}
	<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}
{% include 'KachkaevCountersBundle::counters.html.twig' %}
</body>
</html>
{% endspaceless %}