{% extends 'KachkaevPhotoAssessmentBundle:Components/layouts:base.html.twig' %}

{% block head_title %}{{ 'title' | trans }}{% endblock %}

{% block body_modif %} class="p-results"{% endblock %}

{% block body %}
	<div class="p-results__header">
		<h1><a href="{{ path("pat_default_index") }}">{{ 'pat_default_index.h1' | trans }}</a>{{ 'pat_default_results.h1' | trans }}
		{%-  if (not backdoorSecret) %} <span class="p-results__header-readonly" title="{{ 'pat_default_results.read_only.title' | trans }}">{{ 'pat_default_results.read_only' | trans }}</span>{% endif -%}
		</h1>
	</div>
	<table class="p-results__layout">
	    <tr>
	        <td>
	            <div class="b-infolist b-infolist_user"></div>
	        </td><td colspan="2">
	            <div class="b-infolist b-infolist_photo"></div>
	        </td>
        </tr>
        
        <tr class="p-results__listcaptions">
            <td>
                <h2 class="p-results__listcaption p-results__listcaption__user"></h2>
            </td><td>
                <h2 class="p-results__listcaption p-results__listcaption__photo"></h2>
            </td><td rowspan="2">
                <div class="b-survey-photo b-survey-photo_small"></div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="b-photoresponsepattern b-photoresponsepattern_user"></div>
            </td><td>
                <div class="b-photoresponsepattern b-photoresponsepattern_photo"></div>
            </td>
        </tr>
	</table>
{% endblock body %}

{% block assets_js %}
	{{ parent() }}
    <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&amp;hl={{ app.request.locale }}"></script>
    <script type="text/javascript">data = {{ data | raw }}; lang = { str: {{ jsTranslationStrings | raw }} }; backdoorSecret = '{{ backdoorSecret }}';</script>
    <script type="text/template" id="b-help">{% include 'KachkaevPhotoAssessmentBundle:Components/includes:b-help.html.twig'%}</script>
    {% endblock assets_js %}

{% block footer %}{% endblock %}