{% spaceless %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	{#    	'@PhotoAssessmentBundle/Resources/assets/scss/outlines.scss' #}
	{% stylesheets output='css/survey.css' filter="" combine=true
		'@PhotoAssessmentBundle/Resources/assets/scss/reset.scss'
		'@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.ui.modif.css'
		'@PhotoAssessmentBundle/Resources/assets/bem/pages/p-survey/*.scss'
		'@PhotoAssessmentBundle/Resources/assets/bem/blocks/*/*.scss'
	    %}
	    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
	    <title>{{ 'title' | trans }}</title>
	{% endstylesheets %}
</head>	
<body class="p-survey">
	<div class="p-survey-header">
		<div class="b-userbox"><span class="b-userbox__name" title="{{ "participant.title" | trans }}">{{ "participant" | trans({'%n%': app.user.id}) }}</span></div>
		<h1><a href="{{ path("pat_default_index") }}">{{ 'pat_default_index.h1' | trans }}</a></h1>
	</div>
	<div class="p-survey__leftcol">
		<div class="b-survey-photo"></div>
		
		<div class="b-survey-dashboard">
			<ul class="b-survey-dashboard__items">
			</ul>
			<div class="b-survey-dashboard__hint"></div>
		</div>
	</div>
	<div class="p-survey__rightcol">
		<ul class="b-survey-questionnaire" style="display:none">
			<li class="b-survey-questionnaire__question b-survey-questionnaire__question_current">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.IsRealPhoto.hint" | trans }}">{{ "question.IsRealPhoto" | trans }}</div>
				<div data-q="qIsRealPhoto" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.IsOutdoors.hint" | trans }}">{{ "question.IsOutdoors" | trans }}</div>
				<div data-q="qIsOutdoors" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>

{# 			<li class="b-survey-questionnaire__question">#}
{# 				<div class="b-survey-questionnaire__questiontext">Is the photograph taken during an event?</div>#}
{# 				<div data-q="qDuringEvent" class="b-survey-questionnaire__questionanswer">#}
{# 					<ul class="b-switch b-switch_with-hard-to-say">#}
{# 						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>#}
{# 						<li data-v="null"  class="default"></li>#}
{# 						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>#}
{# 					</ul>#}
{# 				</div>#}
{# 			</li>#}
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.TimeOfDay.hint" | trans }}">{{ "question.TimeOfDay" | trans }}</div>
				<div data-q="qTimeOfDay" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="2"     class="color_green">{{ "answer.night" | trans }}</li>
						<li data-v="1"     class="color_green">{{ "answer.twilight" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="0"     class="color_green">{{ "answer.day" | trans }}</li>
					</ul>
				</div>
			</li>
			
{#			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">What’s the time of year?</div>
				<div data-q="qTimeOfYear" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="2"     class="color_blue">winter</li>
						<li data-v="1"     class="color_green">spring/fall</li>
						<li data-v="null"  class="default"></li>
						<li data-v="0"     class="color_green">smr.</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">Is the photograph taken during a warm season?</div>
				<div data-q="qTimeOfYear" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="2"     class="color_blue">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="0"     class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			#}
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.SubjectTemporary.hint" | trans }}">{{ "question.SubjectTemporary" | trans }}</div>
				<div data-q="qSubjectTemporal" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>

			<li class="b-survey-questionnaire__question">
{# 				<div class="b-survey-questionnaire__questiontext">Is it a photograph of people?</div>#}
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.SubjectPeople.hint" | trans }}">{{ "question.SubjectPeople" | trans }}</div>
				<div data-q="qSubjectPeople" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.IsLocationCorrect.hint" | trans }}">{{ "question.IsLocationCorrect" | trans }}</div>
				<div data-q="qIsLocationCorrect" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
				<div class="b-survey-map"></div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.IsByPedestrian.hint" | trans }}">{{ "question.IsByPedestrian" | trans }}</div>
				<div data-q="qIsByPedestrian" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
{#			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">Does the photograph describe surrounding space?</div>
				<div data-q="qDescribesSpace" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
#}
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext" title="{{ "question.IsSpaceAttractive.hint" | trans }}">{{ "question.IsSpaceAttractive" | trans }}</div>
				<div data-q="qIsSpaceAttractive" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
		</ul>
		<div class="b-survey-controls">
			<div class="b-survey-controls__buttons">
	{#			<a class="i-button-prev b-button b-button_color-white b-button_size-medium" href="#">Previous</a>
#}				<a class="i-button-next b-button b-button_color-blue b-button_size-medium" href="#">{{ "button.next" | trans }}</a>
			</div>
			<div class="b-survey-controls__hint"></div>
		</div>
	</div>

	{% javascripts output='js/vendors.js' filter="" combine=true
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.dump.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.timers.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.tmpl.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.scrollintoview.modif.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.ui.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/jquery/jquery.preload.js'
    
    '@PhotoAssessmentBundle/Resources/assets/vendor/underscore/underscore.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/underscore/underscore.string.js'

    '@PhotoAssessmentBundle/Resources/assets/vendor/namespace.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/keycodes.js'
    '@PhotoAssessmentBundle/Resources/assets/vendor/signals.js'
    %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

	{% javascripts output='js/survey.js' filter=""
		'@PhotoAssessmentBundle/Resources/assets/js/pat/*.js'
		'@PhotoAssessmentBundle/Resources/assets/js/pat/photoInfoProvider/*.js'
		'@PhotoAssessmentBundle/Resources/assets/bem/blocks/*/*.js'
		'@PhotoAssessmentBundle/Resources/assets/bem/pages/p-survey/p-survey.js'
		%}
	    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language={{ app.request.locale }}"></script>
    <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&hl={{ app.request.locale }}"></script>
    <script type="text/javascript">lang = { str: {{ jsTranslationStrings | raw }} };
    </script>

</body>
</html>
{% endspaceless %}