{%  extends 'PhotoAssessmentBundle:Components/layouts:base.html.twig' %}

{% block head_title %}{{ 'title' | trans }}{% endblock %}

{% block body_modif %} class="p-survey"{% endblock %}

{% block body %}
	<div class="p-survey-header">
		<div class="b-userbox"><span class="b-userbox__name" title="{{ "participant.title" | trans }}">{{ "participant" | trans({'%n%': app.user.id}) }}</span></div>
		<h1><a href="{{ path("pat_default_index") }}">{{ 'pat_default_index.h1' | trans }}</a></h1>
	</div>
	<div class="p-survey__leftcol">
		<div class="b-survey-photo"></div>
	</div>
	<div class="p-survey__rightcol">
		<ul class="b-survey-questionnaire" style="display:none">
			<li class="b-survey-questionnaire__question b-survey-questionnaire__question_current">
				<div class="b-survey-questionnaire__questiontext">{{ "question.IsRealPhoto" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.IsRealPhoto.hint" | trans }}</div>
				<div data-q="qIsRealPhoto" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.IsOutdoors" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.IsOutdoors.hint" | trans }}</div>
				<div data-q="qIsOutdoors" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>

			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.TimeOfDay" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.TimeOfDay.hint" | trans }}</div>
				<div data-q="qTimeOfDay" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="2"     class="color_green">{{ "answer.night" | trans }}</li>
						<li data-v="1"     class="color_green">{{ "answer.twilight" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="0"     class="color_green">{{ "answer.day" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.SubjectTemporary" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.SubjectTemporary.hint" | trans | nl2br | replace("\n", " ") | raw }}</div>
				<div data-q="qSubjectTemporal" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>

			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.SubjectPeople" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.SubjectPeople.hint" | trans }}</div>
				<div data-q="qSubjectPeople" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.IsLocationCorrect" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.IsLocationCorrect.hint" | trans | nl2br | replace("\n", " ") | raw }}</div>
				<div data-q="qIsLocationCorrect" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
				<div class="b-survey-map"></div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.IsByPedestrian" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.IsByPedestrian.hint" | trans }}</div>
				<div data-q="qIsByPedestrian" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
			<li class="b-survey-questionnaire__question">
				<div class="b-survey-questionnaire__questiontext">{{ "question.IsSpaceAttractive" | trans }}</div>
				<div class="b-survey-questionnaire__questionhint">{{ "question.IsSpaceAttractive.hint" | trans }}</div>
				<div data-q="qIsSpaceAttractive" class="b-survey-questionnaire__questionanswer">
					<ul class="b-switch b-switch_with-hard-to-say">
						<li data-v="0" class="color_green">{{ "answer.no" | trans }}</li>
						<li data-v="null"  class="default"></li>
						<li data-v="1"  class="color_green">{{ "answer.yes" | trans }}</li>
					</ul>
				</div>
			</li>
			
		</ul>
		<div class="b-survey-controls">
			<div class="b-survey-controls__buttons">
	{#			<a class="i-button-prev b-button b-button_color-white b-button_size-medium" href="#">Previous</a>
#}				<a class="i-button-next b-button b-button_color-blue b-button_size-medium" href="#">{{ "button.next" | trans }}</a>
			</div>
			<div class="b-survey-controls__hint"></div>
		</div>
		
		<div class="b-survey-dashboard">
			<ul class="b-survey-dashboard__items">
			</ul>
			<div class="b-survey-dashboard__hint"></div>
		</div>
	</div>
{% endblock body %}

{% block assets_js %}
	{{ parent() }}
    
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language={{ app.request.locale }}"></script>
    <script type="text/javascript" src="http://www.panoramio.com/wapi/wapi.js?v=1&amp;hl={{ app.request.locale }}"></script>
    <script type="text/javascript">initialQueueSize = {{ initialQueueSize }}; lang = { str: {{ jsTranslationStrings | raw }} };</script>
{% endblock assets_js %}